<mat-grid-list [cols]=cols rowHeight="2:1" (window:resize)="onResize($event)">
    <mat-grid-tile>
            <mat-card>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            </mat-card>
    </mat-grid-tile>
        <mat-grid-tile>
            2
            <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                    </mat-card-content>
                    <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                    </mat-card-actions>
        </mat-grid-tile>
</mat-grid-list>
